{% load i18n aldryn_forms_tags static %}

{% if field %}
    {% comment %}
    {# available conditions #}
    {% if field.field.required %} required{% endif %}
    {% if field.errors %} error{% endif %}
    {% endcomment %}

    <div class="form-group">
        {% block form_field_label %}
            {% if field.label %}
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}{% if field.field.required %}<span class="required-star">*</span>{% endif %}
                </label>
            {% endif %}
        {% endblock %}

        {% block render_form_widget %}
            {% if field.errors %}
                {% render_form_widget field class=instance.custom_classes|add:" form-control is-invalid" %}
            {% else %}
                {% render_form_widget field class=instance.custom_classes|add:" form-control" %}
            {% endif %}
        {% endblock %}

        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
{% endif %}
