{% load aldryn_forms_tags i18n sekizai_tags %}


{% if field %}
    <div class="form-group">
        {% block form_field_label %}
            {% if field.label %}
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}{% if field.field.required %}<span class="required-star">*</span>{% endif %}
                </label>
            {% endif %}
        {% endblock %}
    
        {% block form_field %}
            <select class="selectpicker select-{{ field.id }} form-control" >
                {% for choice in field.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        {% endblock form_field %}
    
        {% block form_field_errors %}
            {% if field.errors %}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                        <span class="">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock form_field_errors %}
    
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                $('.select-{{ field.id }}').selectpicker();
            })
        </script>
    </div>
{% endif %}


{% addtoblock 'js' %}
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
{% endaddtoblock %}
